main {
    min-height: 100vh;
    height: auto;
}

.brand-logo {
    padding: 0 10px !important;
}

.brand-logo:hover {
    color:#000;
}

footer {
    margin-top: 40px;
    background-color: transparent;
    border-top: 1px solid rgba(0,0,0,0.14);
    color: inherit;
}

.footer-copyright {
    padding-left: 5px !important;
    padding-right: 5px !important;
}